apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "haproxy-template-ic.fullname" . }}
  labels:
    {{- include "haproxy-template-ic.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "haproxy-template-ic.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "haproxy-template-ic.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "haproxy-template-ic.serviceAccountName" . }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: controller
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/usr/local/bin/controller"]
          args: ["run"]
          ports:
            - name: healthz
              containerPort: {{ .Values.controller.ports.healthz }}
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.controller.ports.metrics }}
              protocol: TCP
            {{- if gt (.Values.controller.debugPort | int) 0 }}
            - name: debug
              containerPort: {{ .Values.controller.debugPort }}
              protocol: TCP
            {{- end }}
            {{- if .Values.webhook.enabled }}
            - name: webhook
              containerPort: {{ .Values.controller.ports.webhook }}
              protocol: TCP
            {{- end }}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CRD_NAME
              value: {{ .Values.controller.crdName | quote }}
            - name: SECRET_NAME
              value: {{ include "haproxy-template-ic.fullname" . }}-credentials
            - name: WEBHOOK_SERVICE_NAME
              value: {{ include "haproxy-template-ic.fullname" . }}-webhook
            {{- if gt (.Values.controller.debugPort | int) 0 }}
            - name: DEBUG_PORT
              value: {{ .Values.controller.debugPort | quote }}
            {{- end }}
            {{- if .Values.webhook.enabled }}
            - name: WEBHOOK_PORT
              value: {{ .Values.webhook.port | quote }}
            - name: WEBHOOK_CERT_SECRET_NAME
              value: {{ .Values.webhook.secretName | default (printf "%s-webhook-cert" (include "haproxy-template-ic.fullname" .)) | quote }}
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            {{- if .Values.webhook.enabled }}
            - name: webhook-certs
              mountPath: /etc/webhook/certs
              readOnly: true
            {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
        {{- if .Values.webhook.enabled }}
        - name: webhook-certs
          secret:
            secretName: {{ include "haproxy-template-ic.fullname" . }}-webhook-cert
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
