{{- if .Values.haproxy.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "haproxy-template-ic.fullname" . }}-haproxy-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "haproxy-template-ic.labels" . | nindent 4 }}
    app.kubernetes.io/component: loadbalancer
data:
  haproxy.cfg: |
    global
        log stdout len 4096 local0 info

    defaults
        mode http
        log global
        option httplog
        timeout connect 5000
        timeout client 50000
        timeout server 50000

    frontend status
        bind *:{{ .Values.haproxy.ports.stats }}
        http-request return status 200 content-type text/plain string "OK" if { path /healthz }

    frontend http_frontend
        bind *:{{ .Values.haproxy.ports.http }}
        default_backend default_backend

    backend default_backend
        http-request return status 404
{{- end }}
